spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: company-service
          uri: lb://COMPANY_SERVICE
          predicates:
            - Path=/companies/**
        - id: job-service
          uri: lb://JOB-SERVICE
          predicates:
            - Path=/jobs/**
        - id: review-service
          uri: lb://REVIEW-SERVICE
          predicates:
            - Path=/reviews/**
        - id: service-registry
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/main
          filters:
            - SetPath=/


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8084

logging:
  level:
    root: info
    org.springframework.cloud.gateway.route.RouteDefinitionLocator: INFO
    org.springframework.cloud.gateway: TRACE