spring:
  application:
    name: review-service

  datasource:
    url: jdbc:postgresql://localhost:5432/reviews_db
    username: embarkx
    password: embarkx

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect


  # RabbitMQ
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8083

management:
  tracing:
    sampling:
      probability: 1.0


job-service:
  url: http://localhost:8082

company-service:
  url: http://localhost:8081

review-service:
  url: http://localhost:8083



