spring:
  application:
    name: company-service

  datasource:
    url: jdbc:postgresql://postgres:5432/company_db
    username: embarkx
    password: embarkx

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  # RabbitMQ
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://servicereg:8761/eureka/

server:
  port: 8081

management:
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans
  tracing:
    sampling:
      probability: 1.0

job-service:
  url: http://jobms:8082

company-service:
  url: http://companyms:8081

review-service:
  url: http://reviewms:8083





