spring:
  application:
    name: company-service

  datasource:
    url: jdbc:postgresql://localhost:5432/company_db
    username: embarkx
    password: embarkx

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  # RabbitMQ
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8081

management:
  tracing:
    sampling:
      probability: 1.0


# RabbitMQ




