spring:
#  application:
#    name: job-service
#  profiles:
#    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/jobapp_db
    username: embarkx
    password: embarkx

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  config:
    import: optional:configserver:http://localhost:8080

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8082

management:
  tracing:
    sampling:
      probability: 1.0




